.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Dash {
  position: relative;
  z-index: 100;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Dash-icons {
  padding: 20px;
  min-width: 20%;
  max-width: 75%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.App-icon {
  width: 100px;
  height: 100px;
}